


/* nav start */

.img-context{

    max-width: 1250px;
    margin: 0 auto;
    position: relative;
    
}
.img-context img{
    width: 100%;
    height: 550px;
    
}
.img-text{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    display: block; 
    text-align: center;
    
}

.header-discription {
    font-size: 20px;
    color: black;
    font-weight: 500;
    text-align: center;
}


.test-header {
    font-size: 55px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.navbar-container{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    
}

.nav-container ul{
    display: flex;
    
}

.nav-tittle {
    
    font-weight: 500;
}


.nav-container ul a {
    margin-right: 30px;
    color: black;
    font-size: 20px;
}


.banner-btn {
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 50px;
    border-style: none;
}

.bankking-accoun{
    text-align: center;
}

.bankking-accoun {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 39px;
    margin-top: 100px;
}

.roket-area img{
    width: 100%;
   height: 300px;
}














.bank-function-area{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}



.box1{
    background-color: #ffb900;
    padding: 30px 20px;
    border-radius: 5px;
     
   
}
.box2{
    background-color: #88ff00;
    padding: 30px 20px;
    border-radius: 5px;
     
   
}
.box3{
    background-color: #00ccff;
    padding: 30px 20px;
    border-radius: 5px;
   
}


.title{
    font-weight: 700;
    color: white;
    line-height: 1;
}

.balance {
	font-size: 40px;
	font-weight: 500;
	color: white;
}


.user-input-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
}
.deposite{
    background-color: #ffb900;
}

.input-filed {
    width: 100%;
     padding: 3px 10px;
    font-size: medium;
}
.deposite-tittle {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.deposite {
    background-color: #552eaf;
    padding: 20px 30px;
    border-radius: 10px;
}

.deposite-btn {
    background-color: #1696e7;
    color: white;
    font-weight: 500;
    border-style: none;
    padding: 5px 10px;
    border-radius: 3px;
    margin-top: 10px;
}
.Withdraw{
    background-color: #f0da15;
    padding: 20px 30px;
    border-radius: 10px;
}
